# Credenciales y entornos
.env
.env*
firebase-key.json

# Dependencias
node_modules/
backend/node_modules/
frontend/node_modules/

# Build del frontend
frontend/dist/

# Archivos multimedia pesados
frontend/src/assets/*.MOV
frontend/src/assets/*.mp4
frontend/src/assets/*.mov

# Sistema operativo
.DS_Store
Thumbs.db